/* color palette from <https://github.com/vuejs/theme> */
/* color palette from https://colorhunt.co/palette/35374b34495550727b78a083 */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-navy: #344955;
  --vt-c-navy-soft: #50727b;
  --vt-c-navy-mute: #35374b;

  --c-black: #181818;
  --c-black-soft: #222222;
  --c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-black-soft);
  --color-background-soft: var(--c-black-soft);
  --color-background-mute: var(--c-black-mute);

  --color-background-dark: rgba(15, 14, 14, 0.089);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --drop-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black-soft);
    --color-background-soft: var(--c-black-soft);
    --color-background-mute: var);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-sage);
  }
}
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-mute);

  line-height: 1.6;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
