@import './base.css';

#app {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
 
  font-weight: normal;
}


a, /* anchor and green */
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  color: var(--vt-c-sage-soft);
  padding: 3px;
}
.flex-layout {
  height: 100%;
  padding: 2rem;
  display: flex;
  place-items: center;
}

body {
  height: 100vh;
}

@media (hover: hover) {
  a:hover {
    border-bottom: 2px solid hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

  body {

  }
  .grid-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10rem;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer"
  }

  #app {
    height: 100%;
    width: 100%;
  }
}
