@import './base.css';

#app {
  height: 100%;
  font-weight: normal;
}
.layout {
  height: 100%;
  place-items: center;
}

a, /* anchor and green */
.sage-soft-text {
  text-decoration: none;
  color: var(--vt-c-sage-soft);
  padding: 3px;
}
.sage-text {
  text-decoration: none;
  color: var(--vt-c-sage);
  padding: 3px;
}

body {
  height: 100vh;
}
.main-header {
  height: 50px;
  width: 100%;
  background-color: var(--vt-c-navy);
  border-bottom: 2px solid var(--vt-c-navy-soft);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.main-footer {

}
@media (hover: hover) {
  a:hover {
    border-bottom: 2px solid hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

  body {

  }
  /*
  .grid-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10rem;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer"
  }
    */

  #app {
    height: 100%;
    width: 100%;
  }
}
