<div id="content-container" class="container">

    <h1 class="content-title">Projects</h1>
    <p>
    Stuff i made
    </p>

    <div id="projects-container">
        <nav>
            <ul>
            <li class= "project-toc-item">
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/BurgerMan90001/calculator1">calculator1</a>
            </li>
            </ul>
        </nav>
    </div>

</div>